/**
 * Find Us Page Styles
 */

.lfa-find-us-page {
    padding: 40px 0;
    min-height: 60vh;
    background: #FFF;

}

.lfa-find-us-wrapper {
    width: 100%;
}

/* Responsive */
@media (max-width: 768px) {
    .lfa-find-us-page {
        padding: 20px 0;
    }
}



.asl-wrapper * {

    font-family: Questrial, Sans-Serif !important;
}

#asl-storelocator.asl-cont .sl-main-cont .asl-panel {
    border: 0 !important;
}

.inside.search_filter {
    background: #FFF !important;

}

.inside.search_filter label {
    margin-bottom: 24px !important;
    text-transform: uppercase !important;
    font-size: 24px !important;
    font-weight: 500 !important;
    color: #222222 !important;
    letter-spacing: 0 !important;
}

.top-title.Num_of_store {
    background: #FFF !important;
    padding-block: 0 !important;
    padding-bottom: 16px !important;
}

.top-title.Num_of_store span {
    color: #222222 !important;
    font-size: 14px !important;
    font-weight: 400 !important;

}

.asl-store-search.input-group {
    z-index: 2 !important;

}

.asl-store-search.input-group input {
    border: 0 !important;
    border-bottom: 1px solid #000 !important;
    border-radius: 0 !important;
    color: #000 !important;
}

.asl-store-search.input-group input::placeholder {
    color: #838383 !important;
}

.asl-store-search.input-group .input-group-append button {
    background: #FFF !important;
    border-color: #FFF !important;
    border-bottom: 1px solid #000 !important;
    border-radius: 0 !important;
}

.asl-store-search.input-group .input-group-append button i {
    color: #000 !important;
}

.asl-panel-inner {
    padding-top: 24px !important;
}

/* // List */

#asl-storelocator.asl-cont .asl-wrapper .sl-main-cont .asl-panel-inner .sl-main-cont-box .sl-list-wrapper .sl-list .sl-item {
    background: #242424 !important;
    border: 0 !important;
    margin-bottom: 16px !important;
    display: block !important;
}

.sl-addr-list-title {
    color: #FFF !important;
    font-weight: 400 !important;
    font-size: 16px !important;
}

#asl-storelocator.asl-cont .sl-main-cont .asl-panel-inner .sl-main-cont-box ul.sl-list li.sl-item .sl-addr-sec .addr-loc ul li span {
    color: #FFF !important;
    font-weight: 400 !important;
    font-size: 14px !important;
}

.sl-addr i {
    display: none !important;
}

.sl-phone,
.sl-hours,
.sl-days {
    display: none !important;
}

/* // scrollbar */
#asl-storelocator.asl-cont .sl-main-cont .asl-panel-inner .sl-main-cont-box {
    scrollbar-width: thin;
    /* Firefox */
    scrollbar-color: #000 #fafafa;
    /* thumb | track */
}

/* WebKit browsers (Chrome, Edge, Safari) */
#asl-storelocator.asl-cont .sl-main-cont .asl-panel-inner .sl-main-cont-box::-webkit-scrollbar {
    width: 8px;
}

#asl-storelocator.asl-cont .sl-main-cont .asl-panel-inner .sl-main-cont-box::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#asl-storelocator.asl-cont .sl-main-cont .asl-panel-inner .sl-main-cont-box::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 6px;
}

#asl-storelocator.asl-cont .sl-main-cont .asl-panel-inner .sl-main-cont-box::-webkit-scrollbar-thumb:hover {
    background-color: #444;
}

#asl-storelocator.asl-cont .sl-main-cont .asl-panel-inner .sl-main-cont-box ul.sl-list li.sl-item .sl-addr-sec .addr-loc ul li span.lfa-sl-addr {
    color: #FFF !important;
}

#asl-storelocator.asl-cont .asl-wrapper .sl-main-cont .asl-panel-inner .sl-main-cont-box .sl-list-wrapper .sl-list .lfa-sl-item {
    margin-bottom: 16px !important;
}


.lfa-info-title {
    color: #000 !important;
}

#asl-btn-geolocation {
    color: #FFF !important;
    background: #000 !important;
    font-weight: 500 !important;
}

#asl-storelocator.asl-cont .sl-form-group .sl-loct-icon {
    background-color: #00000010 !important;
}

#asl-storelocator.asl-cont .sl-form-group .sl-loct-icon svg path,
#asl-storelocator.asl-cont .sl-form-group .sl-loct-icon svg circle {

    stroke: #000 !important;
}

#asl-storelocator.asl-cont.asl-template-0 .asl-wrapper .sl-main-cont .asl-map .map-image .asl-map-canv .infoBox #style_0 .infowindowContent .asl-buttons a {
    background: #000 !important;
    border-radius: 0 !important;
}

.asl-map {
    padding-left: 40px !important;
}

#asl-storelocator.asl-cont .agile-modal.fade.in {
    margin-left: 40px !important;
}

@media only screen and (max-width:767px) {
    .asl-map {
        padding-top: 16px !important;
        padding-left: 0px !important;
    }
}

@media only screen and (max-width:767px) {

    #asl-storelocator.asl-cont .agile-modal.fade.in {
        margin-left: 0 !important;
        margin-top: 16px !important;
    }
}

/* 
  <!-- <i class="<?php // echo esc_attr($geo_btn_icon) ?>" aria-hidden="true"></i> -->

                                                <svg width="20" height="21" viewBox="0 0 20 21" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M18.6641 0.81543L1.66406 6.81543L10.6641 9.31543L12.6641 18.3154L18.6641 0.81543Z"
                                                        stroke="black" />
                                                </svg>
                                                
                                                */